body {
  margin: 0;
  font-family: 'Encode Sans', sans-serif;
}

.nav-wrapper {
  margin: 0 20px;
}

table.striped>tbody>tr:nth-child(odd) {
  background-color: #BBDEFB;
}

#totals {
  background-color: #BBDEFB
}

.card .card-action {
  margin: 0;
  background-color: #42A5F5
}

a {
  text-decoration: none;
  color: inherit;
}

.promo-caption {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: inherit;
}


/*.dining {
  position: absolute;
  top: 35%;
  margin-left: 25%;
  text-align: center;
}*/

#marketing {
  margin-left: 12%;
  margin-right: 12%;
  width: auto;
  padding-top: 20px;
  display: inline-flex;
}
